.container{
    margin-top: 245px;
    background-color: var(--white);
}

.Github-Search {
  margin: 0;
  text-align: center;
  font-family: Monaco;
  font-size: 60px;
  font-weight: 300;
  font-stretch: normal;
  color: #000000;
}

.text-Search{
font-family: Raleway;
font-weight: 50;
font-style: italic;
}

