.search-logo {
   font-family: Monaco;
   font-size: 60px;
}
  
.search-logo-result {
   font-family: Monaco;
   font-size: 40px;
}
  
.search-span {
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   font-style: italic;
}
